/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}

/* GENERAL */
:root {
	--color-primary: #000000;
	--color-main: #141922;
	--color-toolbar: #282828;
	--color-secondary: #fdfdfd;
    --color-header: #00000070;
    --color-subtitle: #7E8084;
}
span{
    cursor: pointer;
}

body{
    font-family: "Montserrat", sans-serif;
}

#wrapper{
    height: 100vh;
    background-color: var(--color-main);
}
#content{
    height: calc(100vh - 125px);
    width: 100%;
}
#toolbar{
    height: 125px;
    background-color: var(--color-toolbar);
}
/* SIDEBAR */
#sidebar{
    width: 300px;
    background-color: var(--color-primary);
    height: 100%;
}
.logo{
    max-width: 200px;
    min-height: 125px;
}
.logo-mobile{
    display: none;
}
.home, .playlist {
    max-width: 200px;
}
.icons{
    width: 2em;
}
span.subtitle-small{
    line-height: 2em;
    vertical-align: middle;
}
.box{
    background-color: var(--color-subtitle);
    font-size: 2em;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    aspect-ratio: 1 / 1;
    height: 40px;
}
.fa-circle-arrow-down{
    color: var(--color-subtitle);
}
hr{
    width: 80%
}
.sidebar{
    flex-grow: 1;
}
.sidebar .playlist{
    min-height: 0;
}
.sidebar .playlist ul{
    height: 200px;
    overflow: auto;
}
/* ****************************** */

/* MAIN */
main{
    height: 100%;
    width: calc(100% - 300px);
    overflow: auto;
}
header{
    height: 125px;
    width: calc(100% - 300px);
    z-index: 2000;
    background-color: var(--color-header);
    position: fixed;
    top: 0;
    left: 300px;
}
.button{
    display: inline-block;
    margin-right: 20px;
    padding: 15px 70px;
    border: 2px solid var(--color-secondary);
    border-radius: 40px;
}
.container{
    margin-top: 125px;
}
nav ul li a{
    color: var(--color-subtitle);
}

.gapped{
    gap: 20px;
}

.album{
    width: calc(100% / 6 - 20px);
    min-width: 200px;
}

.cover{
    aspect-ratio: 1 / 1;
    overflow: hidden;
}
.circle{
    border-radius: 50%;
}
/* ****************************** */


/* TOOLBAR */
#toolbar{
    color: var(--color-secondary);
}
.toolbar-left{
    width: 300px;
}
.toolbar-center{
    flex-grow: 1;
}
.toolbar-right{
    width: 20%;
}